.idea
.venv
**/node_modules
__pycache__
*.pyc
*.pyo
*.pyd
*.db
.ipynb_checkpoints
/dist
build
.DS_Store
npm-debug.log*
.cursorignore

yarn.lock
package-lock.json
.vscode
.umi
.umi-production
.umi-test

backend/uploads/
backend/test/

machine_learning/dataset/
machine_learning/feature_engineering/
machine_learning/histogram/
machine_learning/models/
machine_learning/oof/
machine_learning/pe_raw/
machine_learning/tmp/
machine_learning/miner_demo/
